@media (max-width:600px) {
	*{
		box-sizing: border-box;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		margin: 20px;

	}
  .top{
	text-align: center;
	object-fit: cover;
	/* overflow: hidden; */
  }
.topnav a{
	visibility: hidden;
	
}
.top .text{
	text-decoration: none;
	color: white;
	position: absolute;
	font-size: 20px;
	font-weight: 100;
	height: 300px;
	width: 550px;
	margin-left: 2px;
}
.paragraph{
	height: 450px;
	background: #302f2f;
	text-align: center;
	font-size: 10px;
	font-weight: 10px;
	margin: 0px;

}
.paragraph .profile-details{
	height: 370px;
	font-size: 10px;
	font-weight: 10px;
	margin-top: 20px;
	padding: 20px;


}
.paragraph .profile-details img{
	height: 200px;
	width: 200px;
	float: left;
	margin-left: 10px;
	border-radius: 150px;}
.profile-details button{
	height: 70px;
	width: 150px;
	float: right;
	margin-right: 10px;
}
.background{
	background:white;
	height: auto;

}
.education{
	margin: 50px;
	color: black;
	font-size: 20px;
	font-weight: 100;
}
hr{
	background: rgb(3, 184, 3);
	height: 5px;
	width: 100px;

}
.projects{
	height: 700px;
	margin: 5px;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2px;
}
.project_one,.project_two{
	height: 200px;

}






	
	
}


/* @media (max-width:1281px) and (max-width:1025px) and (max-width:1848px){ */
*{
	margin: 0;
	box-sizing: border-box;

}
body{	
	color: white;
}
.top{
	height: 100vh;
	background:url(andbg.jpg);
	top: 0;

}
.topnav a{
	overflow: hidden;
	float: right;
	display: block;
	padding: 16px 16px;
	font-size: 22px;
	color: white;
	font-weight: 50;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;


}
.closebtn,.openbtn{
	visibility: hidden;

}
.topnav a:hover{
	color: white;
	border-bottom: 3px solid red;
}
.center{
	float: left;
	clear: left;
	text-align: center;
	color: white;
	font-size: 12px;
}

.text{
	top: 300px;
	position: absolute;
	font-size: 80px;
	font-weight: 70px;
	margin-left: 500px;
	color: white;
}
.text img{
	height: 70px;
	width: 70px;
}
.paragraph{
	height: 60vh;
	background: #302f2f;
	text-align: center;
	font-size: 10px;
	font-weight: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.empty{
	padding: 30px;
	margin: 30px;
	background: white;
	height: auto;
	text-align: center;
	justify-content: center;
	font-size: 30px;
	font-style: 20px;
	color: #000;
}
.empty div{
	padding: 40px;

}
.pdf{
	color: #8d8484;
	font-size: 20px;
	font-weight: 20px;
	float: left;
	padding: 0px;
	margin: 30px;
}
.pdf:hover{
	background: white;
	color: black;
}
.profile-details img{
	border-radius: 300px;
	margin-left: 80px;
	height: 400px;
	width: 400px;
	float: left;
}
.profile-details{
	height: 200px;
	float: right;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: 300px;
	margin: 50px;
	margin-top: 150px;

}
.background{
	background:white;
	height: auto;

}
.education{
	margin: 50px;
}
hr{
	background: rgb(3, 184, 3);
	height: 5px;
	width: 120px;

}
.projects{
	background: #cab3b3;
	color: #807777;
	height: 900px;
}

.contacts{
	height: 500px;
	padding: 30px;
}
.project_one{
	width: 300px;
	height: 400px;
	display: flex;
	padding: 20px;
	float: right;
	margin-right: 1000px;

}
.project_two{
	width: 300px;
	height: 400px;
	display: flex;
	margin: 0px;
	padding: 20px;
	float: left;

}
.project_one a,.project_two a{
	display: flex;
	text-decoration: none;
	padding: 5px;
	margin: 0px;
}
.project_two img,.project_one img{
	height: 400px;
	width: 450px;
	padding: 20px;
}
.email{
	align-items: center;
	font-size: 20px;
	margin: 0;
	padding: 30px;
	background: rgb(20, 19, 19);
	color: white;
	text-align: center;
}
.email form{
	font-size: 20px;
	height: auto;
	width: 500px;
	justify-content: center;
	display: inline-block;
	margin: 0;
	padding: 30px;
	background: rgb(20, 19, 19);
	color: white;
	text-align: center;
}
.email div{
	padding: 30px;
}

.email input{
	width: 350px;
	height: 50px;
}
div textarea{
	height: 200px;
	width: 300px;
}
div button{
	height: 70px;
	width: 200px;
	background: #3d3d3d;
	border: solid #3d3d3d;
}
div button:hover{
	background: #8a7373;
 }























   /* Media Query for Mobile Devices 
@media (min-width:320px)and(max-width:380px){

.top{
	background:url(andbg.jpg);
	top: 0;
	object-fit: cover;
	}
	body {
		font-family: "Lato", sans-serif;
		  }
		  
.topnav  {
			width: 0;
			position: fixed;
			z-index: 1;
			height: 250px;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		  }
		  
.topnav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		  }
		  
.topnav a:hover {
			color: #f1f1f1;
		  }
		  
.topnav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
		  }
		  
.openbtn {
			font-size: 20px;
			cursor: pointer;
			background-color: #111;
			color: white;
			padding: 10px 15px;
			border: none;
		  }
		  
.openbtn:hover {
			background-color:#444;
		  }
.paragraph{
	height: 30rem;
	background: red;
}

	
}  */
/* @media (min-width:412px) and (max-width:480px) {
.top{
		background:url(andbg.jpg);
		top: 0;
		object-fit: cover;
		}
body {
		font-family: "Lato", sans-serif;
		  }
		  
.topnav  {
			width: 0;
			position: fixed;
			z-index: 1;
			height: 250px;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		  }
		  
.topnav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		  }
		  
.topnav a:hover {
			color: #f1f1f1;
		  }
		  
.topnav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
		  }
		  
.openbtn {
			font-size: 20px;
			cursor: pointer;
			background-color: #111;
			color: white;
			padding: 10px 15px;
			border: none;
		  }
		  
.openbtn:hover {
			background-color:#444;
		  }
.top .text{

	float: left;
	font-size: 15px;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	

		}
.top .text a{
	display: grid;
	grid-template-columns: 3fr;
}
.paragraph{
	background: #3d3d3d;
	height: 90vh;
}

.profile-details{
	height: 100rem;
	padding: 0;
}
.profile-details img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	padding: 1px;
}
	
.profile-details button{
			visibility: hidden;
		}
.projects h5{
	float: left;
	position: absolute;
	left: 0;
}

.background{
		/* border: 1px solid black; 
		height: 53rem;
		font-size: 15px;
		color: black;
		font-weight: 100;
		
		}
.email{
	align-items: center;
	font-size: 20px;
	margin: 0;
	padding: 30px;
	background: rgb(20, 19, 19);
	color: white;
	text-align: center;
}
.email form{
	font-size: 20px;
	height: 800px;
	width: 150px;
	justify-content: center;
	display: inline-block;
	margin: 0;
	padding: 30px;
	background: rgb(20, 19, 19);
	color: white;
	text-align: center;
}

}
/* Media Query for low resolution  Tablets, Ipads */

/*@media (min-width:481px )and (max-width: 768px) {
	.topnav a{
		visibility: hidden;
	}
	.openbtn{
		visibility: visible;
		position: absolute;
		left: 20px;
		top: 20px;

	}
.text{
		height: 250px;
		font-size: 25px;
		font-weight: 30px;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		flex-direction: row;
		justify-content: space-around;
		/* border: 1px solid rgb(172, 26, 26); */
	/* }

.paragraph{
	height: 20rem;
	background: #302f2f;
	text-align: center;
	font-size: 10px;
	font-weight: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.profile-details{
	height: 10rem;
	color: white;
	font-size: 12px;
	font-weight: 100px;
	/* border: 1px solid black; */
	/* float: inline-end;

}

.profile-details img{

		border-radius: 300px;
		position: relative;
		padding: 30px;
		height: 250px;
		width: 250px;
		float: left;
		/* border: 1px solid black; 

	}
.background{
	height: 53rem;
	font-size: 15px;
	color: black;
	font-weight: 100;

}
.education hr{
	height: 5px;
}
.projects{
	height: 70rem;
	background: #cab3b3;
	color: #807777;
	display: grid;
	grid-template-columns: 1fr;
}
.empty{
	padding: 30px;
	margin: 30px;
	background: white;
	height: auto;
	text-align: center;
	justify-content: center;
	font-size: 30px;
	font-style: 20px;
	color: #000;
}
.empty div{
	padding: 20px;

}

.email{
	align-items: center;
	font-size: 20px;
	margin: 0;
	padding: 30px;
	background: rgb(20, 19, 19);
	color: white;
	text-align: center;
}
.email form{
	font-size: 20px;
	height: 800px;
	width: 500px;
	justify-content: center;
	display: inline-block;
	margin: 0;
	padding: 30px;
	background: rgb(20, 19, 19);
	color: white;
	text-align: center;
}
.email div{
	padding: 30px;
}

.email input{
	width: 350px;
	height: 50px;
}
div textarea{
	height: 100px;
	width: 350px;
}
div button{
	height: 70px;
	width: 300px;
	background: #3d3d3d;
	border: solid #3d3d3d;
}
div button:hover{
	background: #8a7373;
}

        /* Media Query for Tablets Ipads portrait mode 
@media (min-width: 768px) and (max-width: 1024px) {}
        /* Media Query for Laptops and Desktops 

@media (min-width: 1025px) and (max-width: 1280px){}

        /* Media Query for Large screens 
        @media (min-width: 1281px) {}

	
}  */